<a href="/" class="my-5 ml-4 " data-page="home">
    <svg width="102" height="45" viewBox="0 0 409 178" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M168.511 71.5006V127H154.992V104.152H133.962V127H120.443V71.5006H133.962V93.2418H154.992V71.5006H168.511Z" fill="white"/>
        <path d="M181.907 78.2997C179.535 78.2997 177.585 77.6145 176.057 76.2442C174.581 74.8211 173.843 73.0818 173.843 71.0263C173.843 68.9181 174.581 67.1788 176.057 65.8084C177.585 64.3854 179.535 63.6738 181.907 63.6738C184.226 63.6738 186.124 64.3854 187.599 65.8084C189.128 67.1788 189.892 68.9181 189.892 71.0263C189.892 73.0818 189.128 74.8211 187.599 76.2442C186.124 77.6145 184.226 78.2997 181.907 78.2997ZM188.627 82.8851V127H175.108V82.8851H188.627Z" fill="white"/>
        <path d="M219.849 115.536V127H212.971C208.069 127 204.248 125.814 201.508 123.442C198.767 121.018 197.397 117.091 197.397 111.662V94.1114H192.021V82.8851H197.397V72.1331H210.916V82.8851H219.77V94.1114H210.916V111.821C210.916 113.138 211.232 114.087 211.864 114.667C212.497 115.246 213.551 115.536 215.027 115.536H219.849Z" fill="white"/>
        <path d="M265.802 104.231C265.802 105.496 265.723 106.814 265.565 108.184H234.969C235.18 110.925 236.05 113.033 237.578 114.509C239.159 115.932 241.083 116.643 243.349 116.643C246.723 116.643 249.068 115.22 250.386 112.374H264.774C264.036 115.273 262.692 117.882 260.742 120.201C258.845 122.52 256.447 124.338 253.548 125.656C250.649 126.974 247.408 127.632 243.824 127.632C239.502 127.632 235.654 126.71 232.281 124.865C228.908 123.021 226.273 120.385 224.375 116.959C222.478 113.534 221.529 109.528 221.529 104.942C221.529 100.357 222.452 96.3514 224.296 92.9256C226.194 89.4997 228.829 86.8644 232.202 85.0197C235.575 83.175 239.449 82.2526 243.824 82.2526C248.093 82.2526 251.888 83.1486 255.208 84.9406C258.529 86.7326 261.111 89.2889 262.956 92.6093C264.853 95.9298 265.802 99.8037 265.802 104.231ZM251.967 100.673C251.967 98.3543 251.176 96.5096 249.595 95.1392C248.014 93.7689 246.037 93.0837 243.666 93.0837C241.399 93.0837 239.476 93.7425 237.894 95.0601C236.366 96.3778 235.417 98.2488 235.048 100.673H251.967Z" fill="white"/>
        <path d="M267.084 104.942C267.084 100.357 268.006 96.3514 269.851 92.9256C271.748 89.4997 274.357 86.8644 277.678 85.0197C281.051 83.175 284.898 82.2526 289.22 82.2526C294.754 82.2526 299.366 83.702 303.055 86.6009C306.798 89.4997 309.248 93.5844 310.408 98.855H296.019C294.807 95.4818 292.462 93.7952 288.983 93.7952C286.506 93.7952 284.529 94.7703 283.054 96.7204C281.578 98.6178 280.84 101.358 280.84 104.942C280.84 108.526 281.578 111.294 283.054 113.244C284.529 115.141 286.506 116.09 288.983 116.09C292.462 116.09 294.807 114.403 296.019 111.03H310.408C309.248 116.195 306.798 120.254 303.055 123.205C299.313 126.157 294.702 127.632 289.22 127.632C284.898 127.632 281.051 126.71 277.678 124.865C274.357 123.021 271.748 120.385 269.851 116.959C268.006 113.534 267.084 109.528 267.084 104.942Z" fill="white"/>
        <path d="M341.594 82.4107C346.654 82.4107 350.712 84.0973 353.769 87.4705C356.826 90.791 358.355 95.3764 358.355 101.227V127H344.915V103.045C344.915 100.094 344.15 97.8008 342.622 96.167C341.093 94.5331 339.038 93.7161 336.455 93.7161C333.873 93.7161 331.817 94.5331 330.289 96.167C328.76 97.8008 327.996 100.094 327.996 103.045V127H314.477V68.4964H327.996V88.8145C329.366 86.8644 331.237 85.3096 333.609 84.15C335.981 82.9905 338.643 82.4107 341.594 82.4107Z" fill="white"/>
        <path d="M50.4434 97.9896L50.4434 50H66.4434L66.4434 74.669C69.2359 73.591 72.2706 73 75.4434 73C89.2505 73 100.443 84.1929 100.443 98V127H84.4434V98C84.4434 93.0294 80.4139 89 75.4434 89C70.475 89 66.4469 93.0259 66.4434 97.9934C66.4434 97.9956 66.4434 97.9978 66.4434 98L66.4434 127H50.4434L50.4434 98C50.4434 97.9965 50.4434 97.9931 50.4434 97.9896Z" fill="#815FF7"/>
        <path d="M84.4434 66V50H100.443V66L84.4434 66Z" fill="#815FF7"/>
        </svg>
        
</a>
<a href="#" class="group " (click)="toggleSwitch()" >
  <div class="w-[27px] h-[21px] relative my-8 mr-8 rotate-0 cursor-pointer group-[&.open]/body:group-hover:rotate-90 transition-transform" >
    <span class="block absolute h-[3px] w-full bg-white rounded left-0 opacity-100 rotate-[0deg] transition-all duration-300 top-0 group-[&.open]/body:top-[9px] group-[&.open]/body:rotate-[135deg] group-hover:top-[-2px] group-hover:bg-indigo-400"></span>
    <span class="block absolute h-[3px] w-full bg-white rounded left-0 opacity-100 rotate-[0deg] transition-all duration-300 top-[9px] group-[&.open]/body:opacity-0  group-hover:bg-indigo-400"></span>
    <span class="block absolute h-[3px] w-full bg-white rounded left-0 opacity-100 rotate-[0deg] transition-all duration-300 bottom-0 group-[&.open]/body:bottom-[9px] group-[&.open]/body:rotate-[-135deg] group-hover:bottom-[-2px] group-hover:bg-indigo-400"></span>
  </div> 
</a>
