<app-header></app-header>
<app-big-menu></app-big-menu>
<div class="top-0 relative h-screen w-screen bg-gradient-to-b from-indigo-100  overflow-hidden">
  <div class=" h-[400px] w-[400px] absolute left-0 rotate-[-33deg] translate-x-[-20%] translate-y-[-20%] blur-3xl bg-gradient-to-b from-fuchsia-300  "></div>
  <div class=" h-[300px] w-[380px] absolute right-0 rotate-[40deg] translate-x-[20%] translate-y-[-20%] blur-3xl bg-gradient-to-b from-fuchsia-300"></div>
  
  <!-- <div class=" h-[477px] w-[580px] absolute right-0 rotate-[-33deg] translate-x-[0%] translate-y-[-20%] blur-3xl bg-gradient-to-b from-fuchsia-900"></div> -->
  <div class="flex place-content-center items-center w-full h-full">
    <p id="T1" class="leading-[5rem] text-8xl font-['Francois_One'] [clip-path:polygon(0%_0%,100%_0%,100%_100%,0%_100%)]" >
      Ready to take your business to the next level?
    </p>
  </div>
  
  <!-- <p class="leading-[5rem] text-8xl font-['Bebas_Neue'] [clip-path:polygon(0%_0%,100%_0%,100%_100%,0%_100%)]">
    Let's Explore Innovation Together.
  </p>
  <p  class="leading-[5rem] text-8xl font-['Bebas_Neue'] [clip-path:polygon(0%_0%,100%_0%,100%_100%,0%_100%)]">
    Code the Future with Me. Your Goal, My Expertise.
  </p> -->
  <!-- <p  class="leading-[5rem] text-8xl font-['Bebas_Neue'] [clip-path:polygon(0%_0%,100%_0%,100%_100%,0%_100%)]">
    Get Ready - Your Exciting Journey Starts Now!
  </p> -->

</div>