<ul
  class="font-['Francois_One'] absolute left-[11%] top-[20%] *:text-9xl *:text-white *:pt-5 "
>
  <li>
    <a id="Link01" class="block relative" href="#"> HOME </a>
  </li>
  <li>
    <a id="Link02" href="#"> RECENT WORK </a>
  </li>
  <li>
    <a id="Link03" href="#"> ABOUT </a>
  </li>
  <li>
    <a id="Link04" href="#"> CONTACT </a>
  </li>
</ul>
