@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');


#T1 .char{
    transform: translateY(-215px);
    transition: transform .5s;
}